@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter_font {
    font-family: "Inter", sans-serif;
  }
  .active {
    background-color: #166534;
    color: white;
  }
  .hidden{
    visibility: hidden;
  }

  /* navigation styles */
.nav_container{
    display: flex;
    justify-content: space-between;
    background-color: #166534;
    color: white;
    padding: 24px 135px 24px 135px;
    align-items: center;
}
.nav_name{
    font-weight: 700;
    font-size: 22px;
}
.nav_abouts{
    display: flex;
    gap: 20px;
}
.nav_btn{
    background-color: #166534;
    color: #166534;
    border: none;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 20px 12px 20px;
    background-color: #FACC15;
    border-radius: 999px;
    /* cursor: pointer; */
}

/* banner styles */
.banner_container{
    display: flex;
    justify-content: space-between;
    /* padding: 60px 135px 60px 135px; */
    align-items: center;
    gap: 100px;
    background-color: #CFF0DC;
}
.banner_description{
    padding: 100px 0px 100px 0px;
    text-align: center;
}

/* choose trees styles */
.trees_container_div{
    background-color: aquamarine;
    max-width: 343px;
    padding: 16px;
}

/* campaign styles */
.campaign_container{
    display: flex;
    justify-content: space-between;
    /* padding: 60px 135px 60px 135px; */
    align-items: center;
    gap: 30px;
    margin: 0px 415px 100px 415px;
}

/* impact styles */
.impact_container{
    background-color: #CFF0DC;
}
.impact_sub_container{
    display: grid;
    justify-items: center;
    padding: 100px 135px 100px 135px;
    
}
.impact_divs_container{
    display: flex;
    gap: 50px;
    /* justify-content: space-between; */
}
.impact_divs{
    background-color: white;
    min-width: 525px;
    min-height: 155px;
    border-radius: 12px;
}
.impact_divs_texts{
    padding: 40px 40px 40px 40px;
    text-align: center;  
}


/* plant a tree styles */
.plant_tree_container{
    background-color: #166534;
    text-align: center;
    color: white;
    /* align-items: center; */
}
.plant_tree_header{
    padding: 100px 635px 40px 635px;
}
.plant_form_container{
    background-color: #15803D;
    margin: 0px 635px 100px 635px;
    /* margin-bottom: 100px; */
    border-radius: 12px;
    /* padding-bottom: 100px; */
}
.plant_form_input{
    padding: 12px ;
    min-width: 570px;
    margin: 12px;
    margin-bottom: 4px;
    border-radius: 5px;
    border-style: none;
}
.plant_form{
    /* display: flex; */
    padding: 40px 40px 40px 20px;
}
.plant_btn{
    background-color: #166534;
    color: #166534;
    border: none;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 238px 12px 238px;
    background-color: #FACC15;
    border-radius: 999px;

}

/* footer styles */
.footer{
    background-color: #14532D;
    color: white;
    text-align: center;
    padding: 24px 803px 24px 803px;
    font-size: 14px;
}